@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  overflow-x: hidden;
}

/* The side navigation menu */
.sidenav {
  overflow: hidden;
  height: 50%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 2%;
  background-color: #007bff;

  /* background-color: #007bff;  */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-radius: 1.5em;
  text-align: center;
  padding-top: 8%;
  user-select: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f2f2f2;
  display: block;
  transition: all 0.5s ease;
}
.sidenav a:hover {
  transform: scale(1.2);
}

/* When you mouse over the navigation links, change their color */

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.home-section {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.75) url(/NIITABEOKUTA/Images/niit.jpg) no-repeat;
  background-size: cover !important;
  object-fit: fill;
  background-blend-mode: darken;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.headerDiv {
  width: 90%;
  height: 5em;
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
  border-radius: 5px;
}

.sideOpenDiv {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.sideOpenDiv i {
  font-size: 3em;
  color: #ffffffff;
  cursor: pointer;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 25em;
  height: auto;
  font-family: "Roboto", sans-serif;
  color: navy;
}

.logoDiv h1 {
  font-size: 4em;
}

.logoDiv b {
  font-size: 1em;
  margin-top: 10%;
}

.marquee {
  width: 100%;
  height: auto;
  user-select: none;
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 4em;
  padding-right: 4em;
}

.marquee marquee {
  font-size: 4em;
  color: #ffffffff;
}

.text_contain_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.text_contain {
  width: 25em;
  height: 20em;
  border: 1px solid #ffffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
  user-select: none;
  border-radius: 50px;
}

.text_contain p {
  color: #ffffffff;
  font-size: 2em;
}
.about_section {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_section img {
  width: 35%;
  height: 35%;
  border-radius: 20px;
}
.div1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
  -webkit-user-drag: none;
  padding: 2em;
}
.div1 h1 {
  font-size: 4em;
}
.innerdiv1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  align-items: center;
}
.innerdiv1 p {
  font-size: 1.5em;
  margin-top: 3%;
}
.innerdiv1 button {
  width: 20em;
  height: 3em;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10%;
  cursor: pointer;
}
.innerdiv1 button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.div2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
  -webkit-user-drag: none;
  padding: 2em;
  margin-top: 10%;
}
.div2 h1 {
  font-size: 4em;
}
.innerdiv2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  align-items: center;
}
.innerdiv2 p {
  font-size: 1.5em;
  margin-top: 3%;
}
.innerdiv2 button {
  width: 20em;
  height: 3em;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10%;
  cursor: pointer;
}
.innerdiv2 button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  body{
    overflow-x:none;
  }
  .sidenav {
    overflow: hidden;
    height: 50%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 2%;
    background-color: #007bff;
  
    /* background-color: #007bff;  */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 1.5em;
    text-align: center;
    padding-top: 8%;
    user-select: none;
  }
  

  .sidenav a {
    line-height: 1em;
  }

  .headerDiv {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sideOpenDiv {
    width: auto;
  }

  .sideOpenDiv i {
    font-size: 2em;
  }

  .logoDiv {
    width: auto;
  }

  .logoDiv h1 {
    font-size: 3em;
  }
  .logoDiv b {
    font-size: 1em;
    margin-top: 20%;
  }

  .marquee {
    width: 100%;
    height: auto;
    user-select: none;
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
  }

  .marquee marquee {
    font-size: 1.5em;
    color: #ffffffff;
    font-family: "Roboto", sans-serif;
  }

  .text_contain_div {
    margin-top: 8%;
  }

  .text_contain {
    width: 70%;
    height: 10em;
    border: 1px solid #ffffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    user-select: none;
    border-radius: 50px;
  }

  .text_contain p {
    color: #ffffffff;
    font-size: 1em;
  }
  .about_section {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_section img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .div1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    -webkit-user-drag: none;
  }
  .innerdiv1 {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: auto;
    align-items: center;
    margin-top: 4%;
  }
  .innerdiv1 h1 {
    font-size: 1.5em;
  }
  .innerdiv1 p {
    font-size: 1.2em;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .innerdiv1 button {
    width: 15em;
    height: 3em;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  .div2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    -webkit-user-drag: none;
  }
  .innerdiv2 {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: auto;
    align-items: center;
    margin-top: 4%;
  }
  .innerdiv2 h1 {
    font-size: 1.5em;
  }
  .innerdiv2 p {
    font-size: 1.2em;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .innerdiv2 button {
    width: 15em;
    height: 3em;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    
    margin-top: 5%;
  }
}
